<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      <%= link_to "Send Email", send_email_path(@root), method: :post, class: "btn btn-primary" %>
    </style>
  </head>

  <body>
    <h1>Email Notification</h1>
     <p>This is the email content.</p>
  </body>
</html>
